
@model StudentDepartmentViewModel

<div style="background-color:@Model.Color">
    <h2>Student Details</h2>
</div>

<h2>@Model.Name</h2>
<h2>@Model.Division</h2>
<h2>@Model.Grade</h2>
<h2>@Model.DepartmentName</h2>