<h2>Add New Department Form</h2>

<form method="get" action="/Department/SaveNew">
  
    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div>
        <label for="Location">Location</label>
        <input type="text" id="Location" name="Location" />
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>