<h1>Hello World...</h1>

<div>
    <h1>My First Page</h1>
</div>

<style>
    h1{
        background-color:antiquewhite;
    }
</style>

@* <script>
    alert("Test My Alert");
</script> *@

@{
    int x = 200;
    int y = 150;
}

<h2> Value Of x = @x </h2>

@if (x < y)
{
    <div>True</div>
}

@for(int i =0;i<5;i++)
{
    <h2>@i</h2>
}