@model Department

<div class="card">
    <h5 class="card-header">@Model.Name Details</h5>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/Department/Index" class="btn btn-primary">Back to Index</a>
    </div>
</div>