@using WebApp.ViewModels
@model StudentDepartmentViewModel

<h2>Student Details</h2>

<div style="background-color:@Model.Color">
    <h2> ID : @Model.StudentName</h2>
    <h2> Name : @Model.StudentName</h2>
    <h2> Division : @Model.Division</h2>
    <h2>Department Name :@Model.DepartmentName</h2>
</div>
